#layer{
    background-color: rgba(25, 175, 50, .5);
    padding: 3rem;
}
#getCards{
    border: 2px solid rgba(0,0,0,.2);
    width: max-content;
    padding: 2rem;
}
#cardBoard{
    background-color: rgba(129, 77, 8, 0.863);  
    text-align: center;
}
#cardBoard ul{
    padding: 2rem;
}
#cardBoard li{
    display: inline;
    width: max-content;
}
#cardBoard img{
    width: 267px;
    height: 372px;
}
